{% load static  %}
<!doctype html>
<html lang="fa">

<head>
  <meta charset="utf-8">
  <title>بینول بات | بوستان</title>
  <meta name="description" content="سامانه رزرو غذای دانشگاه بین المللی امام خمینی قزوین|بوستان بینول بات">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="MohammadMahdi Khalaj">
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicons/favicon.ico' %}">
  <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://telegram.org/js/telegram-web-app.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3JY9FTB5CF"></script>
  <script src="https://browser.sentry-cdn.com/7.7.0/bundle.tracing.min.js" integrity="sha384-lr/bDcE0vmUPBU6dhVBXfmhNYAEilrIepu1BRdVUJ8mZ0Hxhm17aIJ2bt4UfxC72" crossorigin="anonymous"></script>
  <script>
    function setThemeClass() {
      document.documentElement.className = Telegram.WebApp.colorScheme;
    }
    Telegram.WebApp.onEvent('themeChanged', setThemeClass);
    setThemeClass();

    // Global site tag (gtag.js) - Google Analytics //
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-3JY9FTB5CF');

    // Sentry //
    Sentry.init({
      dsn:"https://25259b62297f4fe880e854ac98e8b2e6@o1332494.ingest.sentry.io/6597185",
    
      // This enables automatic instrumentation (highly recommended), but is not
      // necessary for purely manual usage
      integrations: [new Sentry.BrowserTracing()],
    
      // To set a uniform sample rate
      tracesSampleRate: 0.2
    });

    myUndefinedFunction();
  </script>
</head>

<body>
  <div class="meal-menu-wrapper"></div>

  <div class="main-menu" id="main-menu">
    <div class="container mt-3">
      <button type="button" class="btn-close" id='main-menu-close' aria-label="Close"></button>
      <div id="forgot-code" ><button class="btn submit-btn w-100">کد فراموشی</button></div>
      <div id="sessions" ><button class="btn submit-btn w-100">نشست ها</button></div>
    </div>
  </div>

  <div class="session-menu" id="session-menu">
    <div class="container mt-3" id='session-menu-parent'>
      <button type="button" class="btn-close" id='session-menu-close' aria-label="Close"></button>
    </div>
  </div>

  <div class="container py-5 h-100" id="login-form">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <h3 class="mb-5 login-title">بینول بات</h3>
            <img class="login-img" src="{% static 'images/favicons/favicon.ico' %}" alt="food">
            <div class="form-outline mb-4">
              <label class="form-label" for="student_number">شماره دانشجویی</label>
              <input type="text" id="student_number" name="student_number" class="form-control form-control-lg" required>
            </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="student_password">رمزعبور</label>
              <div>
                <input type="password" id="student_password" spellcheck="false" autocapitalize="off" autocorrect="off" name="student_password" autocomplete="student_password" class="form-control form-control-lg input-password" style="text-align: left;" required>
                <div id="toggle-password"></div>
                {% csrf_token %}
              </div>
            </div>
            <button class="btn btn-primary btn-lg btn-block card-header" id="login_btn">ورود</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-container">
      <div id="user-name" onclick="main_menu()" class="text-lg-right font-weight-bolder submit-btn navbar-user-data"></div>
      <div id="user-credit" class="text-lg-left font-weight-bolder submit-btn navbar-user-data"></div>
    </div>
  </nav>

  <div class="container alert-message" id="alert-container">
    <div class="alert alert-success" id="success-alert">
      <button type="button" class="close" id="close-alert">x</button>
      <p id='request-alert-message'></p>
    </div>
  </div>

   <div class="container mt-3 mb-3" id='day-cards'></div>

   <footer class="footer"></footer>

   <div class="container" id="submit-btn-web">
     <button class="btn btn-primary btn-sm w-100" style="height: 60px;">Order</button>
   </div>

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>

</html>