{% load static  %}
<!doctype html>
<html lang="fa">

<head>
  <meta charset="utf-8">
  <title>بینول بات | بوستان</title>
  <meta name="description" content="Beinol bot boostan crawler">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="MohammadMahdi Khalaj">

  <meta property="og:title" content="Password Generator">
  <meta property="og:type" content="website">
  <meta property="og:url" content="./">
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicons/favicon.ico' %}">

  <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://telegram.org/js/telegram-web-app.js"></script>
  <script>
    function setThemeClass() {
      document.documentElement.className = Telegram.WebApp.colorScheme;
    }
    Telegram.WebApp.onEvent('themeChanged', setThemeClass);
    setThemeClass();
  </script>
</head>

<body>
  <div class="meal-menu-wrapper"></div>

  <div class="container py-5 h-100" id="login-form">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">بینول بات</h3>

            <div class="form-outline mb-4">
              <label class="form-label" for="typeEmailX-2">شماره دانشجویی</label>
              <input type="text" id="student_number" class="form-control form-control-lg" />
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="typePasswordX-2">رمزعبور</label>
              <input type="text" id="student_password" class="form-control form-control-lg" />
            </div>

            <button class="btn btn-primary btn-lg btn-block card-header" id="login_btn">ورود</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-container">
      <div id="user-name" class="text-lg-right font-weight-bolder submit-btn navbar-user-data"></div>
      <div id="user-credit" class="text-lg-left font-weight-bolder submit-btn navbar-user-data"></div>
    </div>
  </nav>

  <div class="container alert-message">
    <div class="alert alert-success" id="success-alert">
      <button type="button" class="close" data-dismiss="alert">x</button>
      <p id='request-alert-message'></p>
    </div>
  </div>

   <div class="container mt-3 mb-3" id='day-cards'>
     
   </div>

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>

</html>