{% load static  %}
{% load api_tags %}

<!doctype html>
<html lang="fa">

<head>
  <meta charset="utf-8">
  <title>{% site_title %}</title>
  <meta name="description" content="{% site_description %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="MohammadMahdi Khalaj">
  <meta name="google-site-verification" content="rlYNJsJJktY04G_LnK3oTwCloqeEWF3tcwk2cU2rWzk" />
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicons/favicon.ico' %}">
  <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="{% static 'js/telegram-web-app.js' %}"></script>
  {% comment %} <script src="https://telegram.org/js/telegram-web-app.js"></script> {% endcomment %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={% google_analysis_code %}"></script>
  <script src="https://browser.sentry-cdn.com/7.7.0/bundle.tracing.min.js" integrity="sha384-lr/bDcE0vmUPBU6dhVBXfmhNYAEilrIepu1BRdVUJ8mZ0Hxhm17aIJ2bt4UfxC72" crossorigin="anonymous"></script>
  <script nonce="{{ CSP_NONCE }}">
    function setThemeClass() {
      document.documentElement.className = Telegram.WebApp.colorScheme;
    }
    Telegram.WebApp.onEvent('themeChanged', setThemeClass);
    setThemeClass();

    // Global site tag (gtag.js) - Google Analytics //
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{% google_analysis_code %}');

    // Sentry //
    Sentry.init({
      dsn:"{% sentry_code %}",
    
      // This enables automatic instrumentation (highly recommended), but is not
      // necessary for purely manual usage
      integrations: [new Sentry.BrowserTracing()],
    
      // To set a uniform sample rate
      tracesSampleRate: 0.2
    });

    <!-- Google Tag Manager -->
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{% google_tag_manager_code %}');
    <!-- End Google Tag Manager -->
  </script>
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={% google_tag_manager_code %}"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="meal-menu-wrapper"></div>

  <div class="main-menu" id="main-menu">
    <div class="container mt-3">
      <button type="button" class="btn-close" id='main-menu-close' aria-label="Close"></button>
      <div id="forgot-code" ><button id="forgot-code-btn" class="btn submit-btn w-100">{% menu_forget_code_text %}</button></div>
      <div id="sessions" ><button class="btn submit-btn w-100">{% menu_sessions_text %}</button></div>
      <div id="contribute" ><button class="btn submit-btn w-100">{% menu_contribute_text %}</button></div>
    </div>
  </div>

  <div class="session-menu" id="session-menu">
    <div class="container mt-3" id='session-menu-parent'>
      <button type="button" class="btn-close" id='session-menu-close' aria-label="Close"></button>
    </div>
  </div>

  <div class="contribute-menu" id="contribute-menu">
    <div class="container mt-3" id='contribute-menu-parent'>
      <button type="button" class="btn-close" id='contribute-menu-close' aria-label="Close"></button>
      <div class='container contribute-card'>{% contribute_text %}</div>
    </div>
  </div>

  <div class="container py-5 h-100" id="login-form">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong login-shadow" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <a href="{% url 'home' %}" class="login-logo-title">
              <h3 class="mb-5 login-title">{% login_page_title %}</h3>
              <img class="login-img" src="{% static 'images/favicons/favicon.ico' %}" alt="food">
            </a>
            <div class="form-outline mb-4">
              <label class="form-label" for="student_number">{% login_username_text %}</label>
              <input type="text" id="student_number" name="student_number" class="form-control form-control-lg" required>
            </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="student_password">{% login_password_text %}</label>
              <div>
                <input type="password" id="student_password" spellcheck="false" autocapitalize="off" autocorrect="off" name="student_password" autocomplete="student_password" class="form-control form-control-lg input-password" style="text-align: left;" required>
                <div id="toggle-password"></div>
                {% csrf_token %}
              </div>
            </div>
            <button class="btn btn-primary btn-lg btn-block card-header" id="login_btn">{% login_submit_text %}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-container">
      <div id="user-name" class="text-lg-right font-weight-bolder submit-btn navbar-user-data"></div>
      <div id="user-credit" class="text-lg-left font-weight-bolder submit-btn navbar-user-data"></div>
    </div>
  </nav>

  <div class="container alert-message" id="alert-container">
    <div class="alert alert-success" id="success-alert">
      <button type="button" class="close" id="close-alert">x</button>
      <p id='request-alert-message'></p>
    </div>
  </div>

   <div class="container mt-3 mb-3" id='day-cards'></div>

   <footer class="footer"></footer>

   <div class="container" id="submit-btn-web">
     <button id="submit-btn-web-text" class="btn btn-primary btn-sm w-100" style="height: 60px;">{% order_button_text %}</button>
   </div>

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script nonce="{{ CSP_NONCE }}">
    var tags={{ tags | safe }};
  </script>
  <script src="{% static 'js/script.js' %}"></script>
</body>

</html>
