@font-face {
  font-family: 'yekan';
  src: url("/static/fonts/Yekan.ttf");
}

body {
  font-family: 'yekan';
  direction:  rtl;
  background-color: var(--tg-theme-secondary-bg-color);
  color-scheme: var(--tg-color-scheme);
}

button {
  background-color: var(--tg-theme-button-color, #50a8eb);
}

.container {
  text-align: right;
}

.shadow-card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.meal-avatar {
  width: 80px;
  border-radius: 50%;
}

.meal-caption {
  margin-top: 10px;
  color: var(--tg-theme-text-color, #000000);
  font-size: 13px;
}

.meal-caption.btn:hover {
  color: var(--tg-theme-text-color, #000000);
}

.self-text {
  position: absolute;
  left: 55%;
  border-radius: 30%;
  font-size: 10px;
  padding: 1px 10px 1px 10px;
  transform: rotate(45deg);
  background-color: var(--tg-theme-bg-color, #ffffff);
  border: 1px solid;
  color: #dc3545;
  border-color: #dc3545;
  z-index: 10;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color:  var(--tg-theme-button-color, #008CBA);
  color:  var(--tg-theme-button-text-color, #ffffff);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  cursor: pointer;
}

.meal:hover .overlay {
  opacity: 0.7;
}

.disabled-image {
  opacity: 0.5;
}

.meal-menu-wrapper {
  position: fixed;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 30;
  opacity: 0.8;
  visibility: hidden;
}

.meal-menu-wrapper-show {
  visibility: visible;
}

.meal-menu {
  z-index: 35;
  position: fixed;
  top: 65px;
  left: 50%;
  min-width: 360px;
  height: 80%;
  transform: translateX(-50%);
  color: var(--tg-theme-text-color, #000000);
  background-color: var(--tg-theme-bg-color, #ffffff);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  overflow-y: scroll;
  overflow-x: hidden;
  visibility: hidden;
}

.meal-menu-visible {
  visibility: visible;
}

.food-items {
  margin-top: 80px;
  min-height: 290px;
  color: var(--tg-theme-text-color, #000000);
  background-color: var(--tg-theme-bg-color, #ffffff);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.self {
  padding: 0;
  padding-right: 30px;
  background-color:  var(--tg-theme-button-color, blue);
  color:  var(--tg-theme-button-text-color, white);
}

.card-header {
  color: var(--tg-theme-text-color, #000000);
  background-color: var(--tg-theme-bg-color, #ffffff);
}

.card-body {
  color: var(--tg-theme-text-color, #000000);
  background-color: var(--tg-theme-bg-color, #ffffff); 
}

.card {
  border-color: var(--tg-theme-bg-color, #ffffff); 
}

.btn:hover {
  cursor: pointer;
}

.navbar {
  margin-bottom: 100px;
}

.navbar-container {
  color: var(--tg-theme-text-color, #000000) !important;
  background-color: var(--tg-theme-bg-color, #ffffff) !important; 
  position: fixed;
  z-index: 100;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  border-radius: 7px;
  visibility: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  font-size: 13px;
  font-weight: bolder;
  padding-top: 10px;
}

.alert-message {
  top: 65px;
  color: var(--tg-theme-text-color, #000000) !important;
  position: fixed;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
  border-radius: 7px;
}

#success-alert {
  display: none;
  padding-bottom: 0;
  padding-top: 16px;  
}

.close {
  margin-left: 10px;
}

.submit-btn {
  background-color:  var(--tg-theme-button-color, blue);
  color:  var(--tg-theme-button-text-color, white);
  margin-bottom: 15px;
}

.navbar-user-data {
  border-radius: 18px;
  padding: 5px;
}

.card-header {
  background-color:  var(--tg-theme-button-color, blue) !important;
  color:  var(--tg-theme-button-text-color, white) !important;
}

.res-btn {
 color:  var(--tg-theme-button-text-color, white) !important; 
}

#day-cards {
  margin-top: 8rem !important;
}

#login-form {
  text-align: center;
  visibility: hidden;
  display: none;
}

.form-label {
 color: var(--tg-theme-text-color, #000000) !important;
 font-weight: bolder;
}

.form-control {
  text-align: center;
  color: var(--tg-theme-text-color, #000000);
  background-color: var(--tg-theme-bg-color, #ffffff);
}